.reveal .slide-logo {
    height: 100px !important;
    width: 100px !important;
    max-width: unset !important;
    max-height: unset !important;
}

.reveal h1.title {
    font-size: 150%;
    margin-bottom: 12%;
}